*{
    margin: 0;
    padding: 0;
}
.map-box{
    width: 500px;
}

.map-container {
    height: 500px;
}

.App{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.selection-box select{
    padding: 3px;
    font-size: 20px;
    margin: 15px 0;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 22px;
}

@media screen and (max-width: 800px) {
    .App{
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
        justify-content: space-around;
    }
    .map-box{
        width: 90%;
    }
  }